# Source global definitions
# shellcheck disable=SC1091
[ -f /etc/bashrc ] && . /etc/bashrc

TERM=screen-256color

alias ls='ls --color'

# User specific environment
if [[ ! "$PATH" =~ $HOME/.local/bin:$HOME/bin: ]]; then
  PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi

export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
# shellcheck disable=SC2034
force_color_prompt=yes

# shellcheck disable=SC1091
[ -f ~/.fzf.bash ] && source "$HOME/.fzf.bash"

if type -a fzf &>/dev/null; then
  eval "$(fzf --bash)"
fi

{{- if eq .chezmoi.os "darwin" }}
[ -f "/opt/homebrew/bin/brew" ] && eval "$(/opt/homebrew/bin/brew shellenv)"
[ -f "/usr/local/bin/brew" ] && eval "$(/usr/local/bin/brew shellenv)"
{{- else }}
[ -f "/home/linuxbrew/.linuxbrew/bin/brew" ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# shellcheck disable=SC1091
[ -f ~/.cargo/env ] && source "$HOME/.cargo/env"
